# Build outputs
/build/
bin/
.gradle/

# IDEs
*.iml
.idea/
.vscode/
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Test reports and coverage
/test-results/
jacoco.exec
*.ec
*.coverage
*.coveragedata
*.lcov
*.html

# Temporary
*.swp
*.swo
*.bak
*.tmp

# IntelliJ cache
*.iws
*.ipr
